# Model weights (Large files exceeding GitHub limits)
*.bin
*.pt
*.pth
*.safetensors
model.bin
Finetuning/src/model.bin

# Excluded Folders & Local Evaluation Sets
corcentrix/
Evaluate/
set_eval/
Finetuning/inference_results/
Finetuning/inference_result/
Preparing data-finetuned/ners_visualize/

# Root Temporary & Local Files
*.png
!docs/*.png
*.md
!README.md
!docs/*.md
Convert_pdf_to_images.py
fix_image_paths.py
run_inference.bat
Pipfile

# Python / IDE / OS
__pycache__/
*.py[cod]
*$py.class
.venv/
.env
.ipynb_checkpoints/
.vscode/
.DS_Store
Thumbs.db
